@mixin desktop {
    @media screen and (min-width: 700px) {
        @content
    }

}
@mixin medium-dev {
    @media screen and (min-width: 400px) and (max-width: 699px){
        @content
    }
}
@mixin large-desktop {
    @media screen and (min-width: 1000px) {
        @content
    }

}
@mixin small-desktop {
    @media screen and (min-width: 700px) and (max-width: 1050px) {
        @content
    }

}
@mixin small-device {
    @media screen and (max-width: 300px) {
        @content
    }

}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    .background-wrapper{
        width: 100%;
        background: url(./images/mobile/image-header.jpg) no-repeat top;
        height: 0;
        padding-top:142.99% ;
        background-size: contain;
        position: relative;
        @include medium-dev{
            background: url(./images/desktop/image-header.jpg) no-repeat top;
            background-size: cover;
            padding-top: 0;
            height: 100vh;
        }
        @include small-device{
            background-size: cover;
            padding-top: 0;
            height: 100vh;
        }
        @include desktop{
            background: url(./images/desktop/image-header.jpg) no-repeat top;
            background-size:cover;
            padding-top: 0;
            height: 100vh;
        }
        .content{
            width: 100%;
            position: absolute;
            top:0px;
            left:0px;

            header{
                display: flex;
                padding-top: 20px;

                img{
                    margin-left: 20px;
                    margin-top: 20px;
                    object-fit: contain;
                    @include desktop{
                        margin-left: 50px;
                    }
                }
            nav{
                width:100%;
                display: flex;
                justify-content: flex-end;
                #nav{
                    display: none;
                }
                
                label{ 
                    margin-right: 20px;
                    img{
                    @include desktop{
                        display: none;
                    }
                }
                }
                ul{
                    display: none;
                    width: 90%;
                    position: absolute;
                    left: 15px;
                    top: 80px;
                    padding-left:0;
                    margin-right:auto;
                    margin-left: auto;
                    list-style: none;
                    text-align: center;
                    background: white;
                    align-self: center;
                    color: #818498;
                    li{
                        display: block;
                        margin: 40px;
                        @include desktop{
                            margin: 0;
                            display: inline-block;
                            margin-right: 10px;
                            padding:20px;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                        a{
                            text-decoration: none;
                            color: inherit;
                            font-size: 1.2em;
                            font-family: 'Franklin Gothic';
                            
                        }
                        .custom{
                            background: hsl(51, 100%, 49%);
                            padding:15px 25px;
                            border-radius: 50px;
                            text-transform: uppercase;
                            color: black;
                            font-weight: 400;
                            @include desktop{
                                background: white;
                            }
                        }
                    }
                &::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -30px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 30px 30px;
                    border-color: transparent transparent white transparent;
                }
                @include desktop{
                    width: 100%;
                    align-self:flex-end;
                    position: static;
                    display: flex;
                    justify-content: flex-end;
                    background: transparent;
                    color: white;
                    align-items: flex-end;

                }
            }
            }
        }
        .ads-text{
            display: flex;
            margin: 50px 0 0 0;
            font-family: 'Clarendon Blk BT';
            font-size: 2.5em;
            color: white;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            justify-content: center;
            @include medium-dev{
                width: 50%;
                margin: 30px auto;
                font-size: 2.7em;
            }
            @include small-device{
                font-size: 2em;
                width: 50%;
                margin: 80px auto;
            }
            @include desktop{
                margin: 80px 0;
            }
        }
        img{
            display: block;
            margin: 40px auto 0 auto;
            @include medium-dev{
                margin-top: 0px;
            }
        }


        }
    }
        .gallery{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            @include desktop{
                grid-template-columns: repeat(2, 1fr);
            }

            img{
                width: 100%;
                object-fit: cover;
                display: block;
            }
            img.mobile{
                @include desktop{
                display: none;
                }
            }
            .first-img{
                @include desktop{
                    grid-column:2;
                }
            }
            img.desktop{
                display: none;
            @include desktop{
                display: block;
                }
            }
            .img-transform{
               
                width: 100%;
                text-align: center;
                background:#faf8fa;
                font-family: 'Franklin Gothic';
                @include desktop{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    grid-column: 1;
                    grid-row: 1;
                }
                p.heading{
                    color: rgb(37, 47, 62);
                    font-size: 2em;
                    font-family: 'Clarendon Blk BT';
                    text-align: center;
                    @include desktop{
                        width: 70%;
                        text-align: left;
                        font-size: 1.5em;
                    }
                    @include large-desktop{
                        font-size: 2.7em;
                    }
                }
                p.caption{
                    font-size: 1.2em;
                    text-indent: 10px;
                    width: 95%;
                    color: rgb(132, 129, 140);
                    margin: 0 auto;
                    text-align: center;
                    @include small-device{
                        font-size: .9em;
                    }
                    @include desktop{
                        width: 70%;
                        text-align:left ;
                        text-indent: 0px;
                    }
                    @include small-desktop{
                        font-size: 1em;
                        width: 90%;
                    }
                }
                a{
                    text-decoration:none;
                    display: block;
                    font-family: 'Clarendon Blk BT';
                    font-size: 1.5em;
                    margin: 30px 0;
                    color: rgb(62, 68, 68);
                    @include small-device{
                        font-size: 1.3em;
                    }
                    @include desktop{
                        align-self: flex-start;
                        width: 50%;
                        margin-left: 20px;
                        margin-bottom: 0;
                    }
                    @include small-desktop{
                        margin-top: 20px;
                        margin-bottom: 0;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        height: 10px;
                        width: 150px;
                        margin-top: 15px;
                        border-radius: 20px;
                        opacity: 20%;
                        margin-left: -10px;
                        z-index: 1;
                        background-color: #fad400;



                    }
                }
            }
            .img-stand-out{
                @extend .img-transform;
                @include desktop{
                    grid-column: 2;
                    grid-row: 2;
                }
                p.heading{
                    width: 80%;
                    margin: 35px auto;
                    @include desktop{
                        width: 70%;
                        font-size: 1.5em;
                    }
                    @include large-desktop{
                        font-size: 2.7em;
                    }
                }
                p.caption{
                    font-size: 1.3em;
                    @include small-device{
                        font-size: 1em;
                    }
                    @include desktop{
                        font-size: 1.2em;
                    }
                }
                a{
                    &::before{
                        background-color: #fe7867;
                    }
                }
                
            }
            .graphics{
                position: relative;
                height: fit-content;
                bottom: 0;
                img{
                    width: 100%;
                }
                .inner-txt{
                    background-color: transparent;
                    margin: 0;
                    position: absolute;
                    bottom: 80px;
                    @include small-device{
                        bottom: 30px;
                    }
                    @include desktop{
                        bottom: 6%;
                    }
                    @include small-desktop{
                        bottom: 10px;
                    }
                    p.heading{
                        color: rgb(28, 81, 71);
                        font-size: 2.2em;
                        font-family: 'Clarendon Blk BT';
                        text-align: center;
                        
                        @include small-device{
                            font-size: 1.5em;
                        }
                        @include small-desktop{
                            font-size: 1.8em;
                        }

                    }
                    p.caption{
                        font-size: 1.239rem;
                        text-indent: 10px;
                        width: 100%;
                        color: rgb(38, 100, 85);
                        margin: 0 auto;
                        text-align: center;
                        font-family: Arial, Helvetica, sans-serif;
                        @include small-device{
                            font-size: .8em;
                        }
                        @include desktop{
                            width: 60%
                        }
                        @include small-desktop{
                            font-size: 1em;
                            width: 80%
                        }
                    }
                }
            }
            .photography{
                @extend .graphics;
                top:-5px;
                @include desktop{
                    top:0;
                }
               .inner-txt{
                   p.heading{
                       color: rgb(29, 83, 107);
                   }
                   p.caption{
                       color: rgb(9, 95, 138);
                   }
               }
                }
        }
        h3{
            width: 100%;
            text-align: center;
            font-family: 'Clarendon Blk BT';
            text-transform: uppercase;
            color: rgb(172, 172, 172);
            letter-spacing: 2px;
            background: rgb(255, 251, 248);
            margin:0 ;
            margin-top: -10px;
            line-height: 200px;
            @include desktop{
                margin:0 ;
                line-height: 200px;
            }
        }
        .testimonies{
            display: flex;
            flex-wrap:wrap;
            background: rgb(255, 251, 248);
            color: rgb(40, 45, 56);
            @include desktop{
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
            }
            .tes-1{
                margin: 0px 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    transform: scale(0.5);
                    border-radius: 50%;
                }
                p.caption{
                    text-align: center;
                    width: 88%;
                    font-family:'Franklin Gothic';
                    margin-bottom: 20px;
                    line-height: 30px;
                    color: rgb(111, 111, 111);
                    font-weight: 500;
                }
                p.name{
                    font-family:'Clarendon Blk BT';
                    font-weight: bold;
                    font-size: 1.4rem;
                    text-align: center;
                    span{
                        font-size: .7em;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: normal;
                        color: rgb(117, 117, 117);
                    }
                }
            }
            .tes-2{
                @extend .tes-1;
            }
            .tes-3{
                @extend .tes-1;
            }
        }
        .gallery2{
            display: flex;
            flex-wrap: wrap;
            @include desktop{
                flex-wrap: nowrap;
            }
            img{
                width: 50%;
                object-fit: contain;
                margin:0;
                @include desktop{
                    width: 25%;
                }
            }
            img.mobile{
                @include desktop{
                    display: none;
                }
            }
            img.desktop{
                display: none;
                @include desktop{
                    display: block;
                }
            }
            @include desktop{
                img.mobile{
                    display: none;
                }
            }
        }
        footer{
            .footer-cont{
                background: rgb(144, 212, 197);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: rgb(51, 122, 106);

            svg{
                margin: 70px auto 50px auto;
                display: block;
                font-size: 40px;
            }
            ul{
                width: 100%;
                padding: 0;
                margin:0;
                list-style: none;
                display: flex !important;
                margin-bottom: 80px;
                justify-content: space-around;
                @include desktop{
                    justify-content: center;
                }
                li{
                    display: inline-block;
                    @include desktop{
                    margin-right: 35px;
                    }
                    a{
                        text-decoration: none;
                        color: rgb(81, 149, 134);
                        font-size: 1.2em;
                        font-family: 'Franklin Gothic';
                    }
                }
            }
            .socials{
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                margin-bottom: 90px;
                img{
                    object-fit: contain;
                    margin: 0;
                    padding-right: 30px;

                }
            }
        }
    }
    }